* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20rem;
    width: 40%;
    height: 30%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.section__texto{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.section__btn{
    margin-top: 3rem;
    padding: 1rem ;
    background-color: #4a19bb;
    color: white;
    border-radius: 0.75rem;

}