*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{

}

.section1{

}

.section2{

}

.section1__text{

}

.section1__button{

}

.section2__ul{

    
}